
@model CheBay.Areas.Administration.Models.AtributoModel
@{
    ViewBag.Title = "Lista Atributos";
}
<style>
    table, td, th {
        border: 1px solid green;
        border-collapse: collapse;
        width: 30%;
    }

    th {
        border: 1px solid black;
        background-color: green;
        color: white;
    }
</style>
@using (@Html.BeginForm("Index", "Home"))
{
    var grid = new WebGrid(Model.atributoListCollction, canSort: false);

    <div>
        @grid.GetHtml(columns:
            grid.Columns
            (
                grid.Column("id", "ID"),
                grid.Column("titulo", "Titulo")
                 ), mode: WebGridPagerModes.Numeric)
    </div>
    <div>
        <a href="@Url.Action(ViewContext.RouteData.Values["shop"].ToString(), "Attributes/Create")">Nuevo Atributo</a>
    </div>


}

